# Generated bins
builds/*

#
cmd/work_related/*
internal/di/ctn/*
internal/text_extractor/clipper

.DS_Store
.env
internal/persistence/mock/local_credentials.go

# idea
.idea/*
!.idea/runConfigurations/