# Generated bins
builds/*

#
cmd/work_related/*
internal/text_extractor/clipper

.DS_Store
.env
internal/persistence/helpers/mock/local_credentials.go

# idea
.idea/*
!.idea/runConfigurations/

# sqlboiler
sqlboiler.toml

# Vendor
vendor/*